page-edit-chanel {
  margin: auto;
}

ion-textarea {
  border:groove 1px;
  min-height: 200px;
  margin-bottom: 10px;
}

.linkHeader {
  font-size: 30px;
  font-family: "Arial", "Roboto", "Helvetica Neue", sans-serif;
  text-align: center;
}

h4 {
  text-align: center;
}