page-connection {

}

ion-title {
  position: absolute;
  top: 5px;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  background-color: #488aff;
  color: white;
}

.validate {
  position: relative;
  color: white;
  background-color: #488aff;
  margin: 60px auto;
  width: 60%;
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-box {
  width: 300px;
  margin-left:auto;
  margin-right: auto;
}

.registerForgotbtn {
  font-size: 10px;
}