<ion-header>
  <ion-navbar hideBackButton #mynav>
    <ion-title text-center>K.U.R.E.I.L.</ion-title>
      <ion-buttons start>
          <button ion-button icon-only (click)="openMenu()"><ion-icon name="menu"></ion-icon></button>
      </ion-buttons>
    <ion-buttons end>
        <!--<button ion-button icon-only (click)="openSearch()"><ion-icon name="search"></ion-icon></button> -->
        <button ion-button icon-only (click)="onCreateCanal()"><ion-icon name="add"></ion-icon></button>
      <!--<button ion-button (click)="logOut()" style="color: black;">Log Out</button>-->
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-menu id="menu" [content]="mynav">
    <ion-header>
        <ion-toolbar>
            <ion-title text-center>Chanels</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list *ngFor="let chanel of channels; let i = index;">
            <button ion-button clear block (click)="onLoadChanel(chanel, i)">{{chanel.chanelName}}</button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-content padding>
    <h3>Welcome to K.U.R.E.U.I.L. application !</h3>
    <!--<ion-list *ngFor="let chanel of channels">
        <ion-card>
            <ion-card-header>
                {{chanel.chanelName}}
            </ion-card-header>
            <ion-card-content>
                {{chanel.query}}
            </ion-card-content>
        </ion-card>
    </ion-list>-->
    <ion-card class="links" *ngFor="let chanel of channels">
        <ion-card-header class="ChanelHeader">
            {{chanel.chanelName}}
        </ion-card-header>
        <ion-card-content>
            <a href="{{chanel.query}}">{{chanel.query}}</a>
        </ion-card-content>
    </ion-card>
</ion-content>
